:root {
  --primary: #000;
  --secondary: #D00000;
  --third: #686868;
}

h1 {
  font-size: 72px;
  line-height: 0.8;
  margin-bottom: 0;
  margin-top: 16px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

main.container {
  color: var(--primary);
  font-size: 16px;
  padding: 0 16px;
}

.left-side {
  grid-area: left-side;
  margin-right: 0px;
}

.right-side {
  grid-area: right-side;
  font-size: 18px;
}

.footer {
  grid-area: footer;
  font-size: 12px;
  color: var(--third);
}

.left--slogan {
  margin-top: 10px;
  font-size: 18px;
}

.left--icons a {
  display: inline-block;
  text-decoration: none;
  margin-right: 18px;
}

.left--icons svg {
  fill: #686868;
}

.left--icons svg:hover, .left--icons svg:focus, .left--icons svg:active {
  fill: var(--secondary);
}

p.color-third {
   line-height: 18px;
  }

blockquote {
  font-size: 28px;
  line-height: 32px;
  border-top: 3px solid;
  border-bottom: 3px solid;
  margin: 0;
  font-weight: 600;
}

blockquote ul {
  padding-top: 0;
  padding-bottom: 0;
  margin: 18px 0;
}

blockquote ul li {
  position: relative;
}

blockquote ul li:before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 13.7496H23.1246V16.2492H3.75V13.7496Z' fill='%23D00000'/%3E%3Cpath d='M17.7504 23.3754L15.9996 21.6246L22.6254 15L15.9996 8.37543L17.7504 6.62466L26.1246 15.0001L17.7504 23.3754Z' fill='%23D00000'/%3E%3C/svg%3E%0A");
  width: 30px;
  height: 30px;
  left: -40px;
  top: 2px;
}

.right--contacts {
  padding-left: 0;
}

.right--contacts li {
  margin-bottom: 15px;
}

.right-disclaimer > p:first-child {
  margin-bottom: 5px;
}

.right-disclaimer > p:last-child {
  margin-top: 5px;
}


@media (min-width: 1000px) {
  h1 {
    font-size: 96px;
  }

  p.color-third {
   line-height: 20px;
  }

  .left--slogan {
    font-size: 24px;
  }

  main.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "left-side right-side";
    margin-top: 60px;
  }

  .right-side {
    margin-top: 85px;
  }

  blockquote {
    font-size: 35px;
    line-height: 110%;
  }
}
