.d-flex {
  display: flex;
}

.u-flex-1 {
  flex: 1;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.color-secondary {
  color: var(--secondary);
}

.color-third {
  color: var(--third);
}

.mt-35 {
  margin-top: 35px;
}

.icon--mail {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8767 0H1.20516C0.584537 0 0.0818481 0.502689 0.0818481 1.12332V9.15512C0.0818481 9.45279 0.200499 9.73854 0.411115 9.94917C0.62173 10.1598 0.907477 10.2784 1.20516 10.2784H11.8767C12.1743 10.2784 12.4601 10.1598 12.6707 9.94917C12.8813 9.73855 13 9.45281 13 9.15512V1.12332C13 0.825647 12.8813 0.539893 12.6707 0.329267C12.4601 0.11864 12.1744 0 11.8767 0ZM10.9275 3.12839L7.3104 5.19529C6.8351 5.47262 6.24675 5.47262 5.77145 5.19529L2.15438 3.12839C1.88478 2.97604 1.78931 2.63413 1.94095 2.36454C2.01537 2.23465 2.13824 2.13917 2.28215 2.10055C2.42677 2.06123 2.58124 2.08159 2.71041 2.15671L6.32749 4.22362C6.46018 4.29663 6.62165 4.29663 6.75435 4.22362L10.3714 2.15671C10.5006 2.08159 10.6551 2.06123 10.7997 2.10055C10.9436 2.13916 11.0665 2.23464 11.1409 2.36454C11.2925 2.63413 11.1971 2.97603 10.9275 3.12839H10.9275Z' fill='%23686868'/%3E%3C/svg%3E%0A");
  width: 13px;
  height: 11px;
  display: inline-block;
}

.icon--phone {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5665 14.3021C13.2664 14.7603 12.7446 15.0295 12.1913 14.9974C11.638 14.9659 10.9266 14.8869 10.4362 14.7603C8.25451 14.1909 5.99373 12.8318 4.08138 10.9187C2.16824 9.00553 0.809181 6.74554 0.23976 4.56381C0.113168 4.0735 0.0501842 3.37818 0.00263224 2.82488C-0.0288614 2.28765 0.223698 1.76584 0.682524 1.4651L2.62713 0.168928C3.13287 -0.163303 3.81276 0.0108436 4.08138 0.548079L5.66223 3.59928C5.88329 4.02598 5.77276 4.56385 5.39361 4.86395L3.97085 5.97055C4.54021 7.02959 5.07744 7.88369 6.12112 8.91124C7.08569 9.87581 7.92297 10.4445 9.01423 11.0293L10.1369 9.59044C10.437 9.21129 10.9749 9.08469 11.4016 9.32182L14.4681 10.9027C15.0053 11.1713 15.1795 11.8512 14.8472 12.3569L13.5665 14.3021Z' fill='%23686868'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 15px;
  display: inline-block;
}
.icon--location {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.50001 0C10.4976 0 12.9287 2.43045 12.9287 5.42865C12.9287 8.6742 10.4519 12.2379 8.19376 14.6952C7.82051 15.1012 7.18009 15.1012 6.80684 14.6952C4.54859 12.2378 2.07194 8.67405 2.07194 5.42865C2.07194 2.43105 4.50239 0 7.50059 0H7.50001ZM7.50001 3.53085C8.54825 3.53085 9.39781 4.38047 9.39781 5.42865C9.39781 6.47689 8.54819 7.32645 7.50001 7.32645C6.45182 7.32645 5.60221 6.47683 5.60221 5.42865C5.60221 4.3804 6.45182 3.53085 7.50001 3.53085Z' fill='%23686868'/%3E%3C/svg%3E%0A");
  width: 15px;
  height: 15px;
  display: inline-block;
}

.list-unstyled {
  list-style: none;
}
